.banner{
    background-image: url('../../public/assets/banner.png');
    height: 776px; 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    align-items: center;
    color: white;
    position: relative;
}

.feature {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    color: black;
    z-index: 1;
}

.feature-bg-white {
    background: white;
    position: absolute;
    width: 80%;
    height: 99px;
    bottom: 0;
}

.tour-hotel-search {
    position: absolute;
    bottom: 0;
    color: black;
    z-index: 2;
    width: 34%;
}

.tour-hotel-search-form {
    background: rgb(247, 247, 247);
    color: black;
    z-index: 2;
    padding: 20px;
    // opacity: 0.9;
    height: 500px;
}

.select-buttons {
    display: flex;
    width: 100%;
}

.select-buttons button {
    flex: 1;
    margin: 0;
    padding: 10px;
    color: black;
}