.review {
    display: flex;
    align-items: center;
    justify-content: left;
}

.star {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    padding: 5px 20px;
    background-color: var(--primary-color);
    color: white;
}

.star i {
    color: white;
}

.star p, .review p {
    margin: 0;
}

.details__item, .details__room__item {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.details__item__image {
    width: 100%;
    height: 545px;
    min-height: 100px;
    overflow: hidden;
    position: relative;
}

.details__item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.bookmark-icon {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    color: var(--primary-color);
}

// @media (max-width: 1200px) {
//     .details__item__image {
//         height: calc(45vw + 100px);
//     }
// }

.tour-booking-form {
    background-color: rgb(243, 242, 242);
    padding: 20px;
    // border-radius: 5px;
}

.total {
    font-size: 24px;
}

.fixed-width {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.category {
    font-size: 24px;
}

.content-font {
    color: rgb(82, 81, 81);
    font-size: 18px;
}


.content-font.check, .room-content-font.check {
    list-style: none;
    padding: 0;
}

.content-font.check li, .room-content-font.check li {
    position: relative;
    padding-left: 25px;
}

.content-font.check li::before, .room-content-font.check li::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: green;
}

.accordion-button {
    color: var(--third-color);
    font-weight: bold;
}

.accordion-item {
    font-size: 18px;
    h5, i {
        font-size: 18px;
        color: var(--third-color);
    }
    p {
        color: rgb(82, 81, 81);
        padding-left: 20px;
    }
}

.accordion-body {
    background-color: rgb(243, 242, 242);;
}

.content-section {
    display: none;
}

.category-item {
    cursor: pointer;    
}

.category-item:hover,
.category-item.selected {
    color: var(--primary-color);
}

.answer {
    padding-left: 20px;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color: transparent;
}

.arrow:hover {
    background-color: rgba(235, 233, 233, 0.7);
}

.average-star {
    border-right: 1px solid black;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: rgb(243, 242, 242);;
    width: 100%;
}

.rating-star {
    color: #f9aa2b;
}

.text-gray {
    color: #aaa;
}

.rating-label {
    width: 50px;
    text-align: right;
}

.review-count {
    width: 100px;
    text-align: left;
    font-size: 14px;
}

.comment-btn {
    background-color: #f68031;
    color: white;
    border: none;
}

.comment-btn:hover {
    background-color: #d56b29;
}

textarea {
    resize: none;
    border-radius: 10px;
}

.progress-container {
    height: 10px;
    background-color: #d7d7d7;
}

.rating-bar {
    height: 100%;
    border-radius: 5px;
    background-color: #f9aa2b;
}

.comment-body {
    display: flex;
    width: 100%;
    i {
        font-size: 56px;
        color: #c0c0c0;
        padding: 0 20px 0 20px;
    }
    textarea {
        width: 100%;
        height: 127px;
        padding: 10px;
        border: #d4d4d4 solid 1px;
    }
}

.comment-button {
    background-color: var(--primary-color);
    font-size: 18px;
}

.avatar {
    width: 83px;
    height: 83px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 20px 0 20px;
}

.room, .addon {
    display: flex;
    align-items: center;
}

.room-name, .addon-name {
    font-weight: bold;
}

.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-control button {
    background-color: #e0e0e0;
    color: black;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity {
    margin: 0 10px;
    font-weight: bold;
}

.price {
    color: var(--third-color);
    font-weight: bold;
    text-align: right;
}

.amenitiy-section ul, .room-facilities ul {
    column-count: 2;
    column-gap: 20px;
}

.amenitiy-section li, .room-facilities li {
    break-inside: avoid;
}

.rule-hour {
    padding: 10px;
    background-color: var(--secondary-color);
    border-radius: 5px;
    width: 80%;
}

.maps-section {
    img {
        width: 100%;
    }
}

.review-score {
    background-color: var(--primary-color);
    color: white;
    font-size: 50px;
    padding: 30px;
}

#hotel-review-btn {
    width: 100%;
}

.rating {
    color: var(--primary-color);
}

.room__item {
    &__image {
        position: relative;
        img {
            max-width: 170px;
            width: 170px;
            max-height: 170px;
            height: auto;
            object-fit: cover;
            cursor: pointer;
        }

        .image-icon {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 15px;
            color: white;
            background-color: rgba(0, 0, 0, 0.7);
            border-radius: 50%;
            padding: 5px;
        }
    }

    .card-body {
        padding: 10px 30px 10px 30px;
        .card-title {
            margin-bottom: 10px;
        }

        .content-font {
            i {
                color: rgb(82, 81, 81);
            }
        }
    }

    .room-facilities {
        font-size: 15px;
        color: gray;
        span {
            color: var(--third-color);
        }
    }
}

.select-btn {
    width: 40%;
}

.room-main-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.details__room__item__image {
    width: 100%;
    height: 400px;
    min-height: 100px;
    overflow: hidden;
    position: relative;
}

.room-details-information {
    font-size: 15px;
    i {
        color: gray;
    }
    span {
        color: var(--third-color);
    }
}

.room-content-font {
    color: rgb(82, 81, 81);
    font-size: 15px;
}

.out-of-room-button {
    background-color: #223143;
    color: white;
}