.logo {
    width: 89px;
    height: 86.33px;
}

.fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: white;
}

.nav-link:hover, .nav-link.active {
    color: var(--primary-color);
}
