.content {
    margin-bottom: 100px;
}

.destination__item, .culture__item, .review__item{
    &__image {
        position: relative;
        height: 0;
        width: 100%;
        padding-bottom: 100%;

        img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding-bottom: 10px;
        }
    }
}

button {
    background-color: black;
    color: white;
    border: none; 
    padding: 5px 20px;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
}

.input-container i {
    position: absolute;
    left: 10px;
}

.input-container input {
    padding: 10px 30px;
    width: 300px;
}
